In [1]:
import pandas as pd

In [4]:
csvdata = pd.read_csv('C:\\Users\\PC\\Desktop\\Hamoye Internship\\FoodBalanceSheets_E_Africa_NOFLAG.csv')

In [5]:
print(csvdata)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [10]:
csvdata.head(20)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73
10,4,Algeria,2941,Animal Products,684,Fat supply quantity (g/capita/day),g/capita/day,26.22,24.64,25.37,24.60,22.71
11,4,Algeria,2905,Cereals - Excluding Beer,5511,Production,1000 tonnes,3436.00,3761.00,3445.00,3478.00,6065.00
12,4,Algeria,2905,Cereals - Excluding Beer,5611,Import Quantity,1000 tonnes,12604.00,13983.00,13523.00,13039.00,13182.00
13,4,Algeria,2905,Cereals - Excluding Beer,5072,Stock Variation,1000 tonnes,684.00,1663.00,905.00,705.00,2226.00
14,4,Algeria,2905,Cereals - Excluding Beer,5911,Export Quantity,1000 tonnes,3.00,7.00,7.00,10.00,17.00
15,4,Algeria,2905,Cereals - Excluding Beer,5301,Domestic supply quantity,1000 tonnes,15353.00,16075.00,16056.00,15803.00,17004.00
16,4,Algeria,2905,Cereals - Excluding Beer,5521,Feed,1000 tonnes,4725.00,5070.00,4838.00,4667.00,5266.00
17,4,Algeria,2905,Cereals - Excluding Beer,5527,Seed,1000 tonnes,177.00,189.00,197.00,202.00,278.00
18,4,Algeria,2905,Cereals - Excluding Beer,5123,Losses,1000 tonnes,1084.00,1203.00,1148.00,1121.00,1253.00
19,4,Algeria,2905,Cereals - Excluding Beer,5131,Processing,1000 tonnes,35.00,38.00,37.00,33.00,44.00

In [11]:
csvdata.tail(20)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60923,181,Zimbabwe,2680,Infant food,5611,Import Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60924,181,Zimbabwe,2680,Infant food,5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60925,181,Zimbabwe,2680,Infant food,5911,Export Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60926,181,Zimbabwe,2680,Infant food,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60927,181,Zimbabwe,2680,Infant food,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60928,181,Zimbabwe,2680,Infant food,5142,Food,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60929,181,Zimbabwe,2680,Infant food,645,Food supply quantity (kg/capita/yr),kg,0.00,0.00,0.00,0.00,0.01
60930,181,Zimbabwe,2680,Infant food,664,Food supply (kcal/capita/day),kcal/capita/day,0.00,0.00,0.00,0.00,0.00
60931,181,Zimbabwe,2680,Infant food,674,Protein supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
60932,181,Zimbabwe,2680,Infant food,684,Fat supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
60933,181,Zimbabwe,2899,Miscellaneous,5611,Import Quantity,1000 tonnes,42.00,47.00,33.00,15.00,16.00
60934,181,Zimbabwe,2899,Miscellaneous,5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,-4.00,0.00
60935,181,Zimbabwe,2899,Miscellaneous,5911,Export Quantity,1000 tonnes,1.00,1.00,0.00,0.00,1.00
60936,181,Zimbabwe,2899,Miscellaneous,5301,Domestic supply quantity,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60937,181,Zimbabwe,2899,Miscellaneous,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [9]:
csvdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [14]:
csvdata.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [15]:
csvdata.describe(include='all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [22]:
print(csvdata.corr())

              Area Code  Item Code  Element Code     Y2014     Y2015  \
Area Code      1.000000  -0.005159     -0.000209  0.006164  0.005472
Item Code     -0.005159   1.000000     -0.024683  0.021722  0.020857
Element Code  -0.000209  -0.024683      1.000000  0.024457  0.023889
Y2014          0.006164   0.021722      0.024457  1.000000  0.994647
Y2015          0.005472   0.020857      0.023889  0.994647  1.000000
Y2016          0.005247   0.020109      0.023444  0.996081  0.995739
Y2017          0.005006   0.021494      0.024254  0.995230  0.988048
Y2018          0.005665   0.021314      0.024279  0.994872  0.988208

                 Y2016     Y2017     Y2018
Area Code     0.005247  0.005006  0.005665
Item Code     0.020109  0.021494  0.021314
Element Code  0.023444  0.024254  0.024279
Y2014         0.996081  0.995230  0.994872
Y2015         0.995739  0.988048  0.988208
Y2016         1.000000  0.992785  0.992757
Y2017         0.992785  1.000000  0.998103
Y2018         0.992757  0.998103  1.000000

In [24]:
csvdata.groupby('Y2014')['Y2014'].count()
csvdata.groupby('Item').first()

,Area Code,Area,Item Code,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,,,,
"Alcohol, Non-Food",4,Algeria,2659,5511,Production,1000 tonnes,0.0,0.0,0.0,0.0,0.0
Alcoholic Beverages,4,Algeria,2924,5511,Production,1000 tonnes,191.0,160.0,153.0,193.0,231.0
Animal Products,4,Algeria,2941,664,Food supply (kcal/capita/day),kcal/capita/day,444.0,421.0,431.0,421.0,390.0
Animal fats,4,Algeria,2946,5511,Production,1000 tonnes,18.0,17.0,17.0,17.0,16.0
Apples and products,4,Algeria,2617,5511,Production,1000 tonnes,463.0,451.0,501.0,494.0,488.0
...,...,...,...,...,...,...,...,...,...,...,...
"Vegetables, Other",4,Algeria,2605,5511,Production,1000 tonnes,5063.0,5206.0,5524.0,5715.0,6300.0
Vegetal Products,4,Algeria,2903,664,Food supply (kcal/capita/day),kcal/capita/day,2932.0,2958.0,2941.0,2921.0,2932.0
Wheat and products,4,Algeria,2511,5511,Production,1000 tonnes,2436.0,2657.0,2440.0,2437.0,3981.0
Wine,4,Algeria,2655,5511,Production,1000 tonnes,52.0,10.0,7.0,62.0,54.0
Yams,4,Algeria,2535,5911,Export Quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0